/*all*/
.hero-title {
  margin-top: 10px;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

/* Schedule */
.schedule-title {
  margin-top: 10px;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.schedule-text-day {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #2a2a2a;
  text-align: left;
}

.tr,
th,
td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
}

/* Map */
.map-container {
  position: absolute;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(229, 3, 3, 0.1);
  width: 100%;
  height: 100%;
  size: 100%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  touch-action: pan-x pan-y;
  z-index: 3;
  size: 100%;
}

.transport-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Contact */
.social-icons img {
  width: 34px;
  height: 34px;
  transition: opacity 0.3s ease;
}

.social-icons a:hover img {
  opacity: 0.8;
}

h1,
h2 {
  font-weight: 600;
}

p,
li {
  padding-bottom: 1%;
  padding-top: 1%;
}

.text-icon {
  display: flex;
  align-items: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}